@model IEnumerable<WeatherProject.Models.EventInfo>

@{
    ViewBag.Title = "View";
}
<head>
    <title>Tech events in the UK over the next 5 days</title>
</head>
<body>
    <h2>Tech events in the UK over the next 5 days</h2>

    <em>
        Times and dates are in local time.
    </em>
    <br />
    <table class="table">
        <tr>
            <th>
                Event Date
            </th>
            <th>
                Event time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                Click for more info
            </th>
            <th>
                Weather description
            </th>
            <th>
                Virtual event?
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    <a href=@item.URL target="_blank">@item.URL </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeatherDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRemote)
                </td>
                <td>
                </td>
            </tr>
        }

    </table>
    <footer>
        <p><em>Employs <a href="https://opentechcalendar.co.uk/">Open Tech Calender </a> for event info and <a href= "https://openweathermap.org/api"> Open WeatherMap API </a>for weather info.</em></p>
    </footer>
</body>
